
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1080px;
    padding-top: 20px;
    margin: auto;
}

.row{
    display: flex;
    flex-direction: row;
    margin: 0;   
}

header {        
    background: whitesmoke;
    height: 75px;
}

.header-col{
    width: 25%;
    padding-left: 0px;
    text-align: center; 
    display:flex;
    align-items: center;
    justify-content: center;
}

.header-col a{
    position: relative;
    text-decoration: none;
    color:  rgb(117, 42, 192);
    font-size: 24px;
    font-weight: 500;
    display: flex;
    transition: all 0.5s ease;
    
}
.header-col span a{
    text-decoration: none;
    color: rgb(117, 42, 192);
    font-size: 18px;
    font-weight: 300;
    transition: all 0.5s ease;
    padding-left: 90px;
}
.header-col span a:hover{
    padding-left: 95px;
    color: rgb(24, 12, 36);
}

.header-col a:hover{
    padding-left: 15px;
    color: rgb(78, 41, 116);
}
.header-col span a:hover::after{
    content: "";
    background-color: rgb(78, 41, 116);
    position: absolute;
    height: 1px;
    width: 50px;
    left: 95px;
    bottom: -5px;
}
.header-col a:hover::after{
    content: "";
    background-color: rgb(78, 41, 116);
    position: absolute;
    height: 3px;
    width: 50px;
    left: 15px;
    bottom: -5px;
}

.header-col a::before{
    content: "";
    background-color: rgb(78, 41, 116);
    position: absolute;
    height: 2px;
    width: 0px;
    left: 15px;
    bottom: -5px;
    transition: all 0.5s ease;
}

.fond{
    background-image: url(Capture-décran-2021-12-15-023055-v2.png);
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: top;
    text-align: center;
    filter: opacity(60%);
    filter: contrast(60%);
    filter: brightness(60%);
}

/*.footer img{
    width: 175px;
    height: auto;
    margin-top: -175px;
}

.footer{
    background: whitesmoke;
    padding: 70px 0;
    margin-top: auto;
    text-align: center;
}

.footer h1{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 43px;
    color: rgb(117, 42, 192);
    letter-spacing: 10px;
    font-weight: 500;
}
.footer h2{
    font-size: 20px;
    color: rgb(117, 42, 192);
    letter-spacing: 8px;
    font-weight: 300;
}*/
/*responsive*/
@media (max-width: 1100px) {
    .header-col a {
        font-size: 22px;
    }
}
@media (max-width: 950px) {
    .header-col a {
        font-size: 15px;
        margin-right: 45px;
    }

    #header-logo {
        margin-right: 15px;
    }

    .header-col span a {
        font-size: 15px;
        margin-left: -40px;
    }
}

@media(max-width: 717px) {
    .header-col{
        width: 90%;
        margin-bottom: 30px;
    }
}
@media(max-width: 708px) {
    .header-col{
        width: 100%;
    }
}
#t1 {
    color:white;
    justify-content: center;
    display: flex;
    text-align: center;
    filter: unset;
    position: relative;
    font-size: 24px;
    top: 6%;
    
}



.vbox-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: white;
    text-align: justify;
    width: 40%;
    margin-top: 10%;

    /*Align children vetically*/
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    margin-block-end: 5%;
}

/*Stretch item along parent's main-axis*/
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-f{
    max-width: 1180px;
    /*margin-top: 60px;
    margin-left: auto;*/
    
    margin: auto;
}

.row-f{
    display: flex;
    flex-wrap: wrap;

}

ul{                     /*ul ds html -> les enlever d'1 coup*/
    list-style: none;
}

footer {        
    background: rgb(104, 52, 104);
    padding: 70px 0;
    margin-top: auto;
}

.footer-col{
    width: 25%;
    padding: 0 30px;   
}

.footer-col h4{
    font-size: 20px;
    color: seashell;
    text-transform: capitalize;
    margin-bottom: 35px;
    margin-top: -30px  ;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{   /*Mettre une barre uniquement en dessous des titres*/
    content: '';
    position: absolute;
    background-color:seashell;
    bottom: -10px;
    left: 0;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col p{
    font-size: 11.5px;
    color: seashell;
    text-align: justify;
}


.footer-col li {
    margin-top: 15px;
}

.footer-col ul li {
    margin-bottom: 10px;
    list-style-type: none;
    position: relative;
}

.footer-col ul li a{
    font-size: 15px;
    color: seashell;    
    text-decoration: none;
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease;
}

.footer-col ul li span{
    margin-left: 0;
    margin-right: 10px;
    margin-left: -20px;
}

.footer-col ul li a:hover{
    color: seashell;
    padding-left: 10px; 
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: seashell;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color : rgb(104, 52, 104);  /*couleur background*/
    background-color: seashell; /*couleur du logo sans hover*/
}
.footer-bottom img{
    width: 150px;
    height: auto;
    position: absolute;
    margin-left: 67%;
    margin-top: 20px;

}

.footer-bottom {
    background-color: rgba(82, 39, 82);
    position: relative;
    padding-top: 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0%;
    width: 100%;
    height: 90px;
    
}

.footer-bottom span{
    color: rgba(255, 245, 238, 0.829);
    position: relative;
    
    
}

/*responsive*/
@media(max-width: 770px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-bottom{
        height: 90px;
        
    }
}
@media(max-width: 400px) {
    .footer-col{
        width: 100%;
    }
}
