html, body {
    overflow-x: hidden;
    height: 100%;
    font-family: 'Calibri', sans-serif;
    background: #8B00FF;
    min-height: 190vh;
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}

body {
    overflow-y: hidden;
}


.sidebar_header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #d146fc00;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}

#sidebarMenu {
  min-height: 130%;
  position: absolute;
  left: 0;
  width: 250px;
  margin-top: 0px;
  margin-left: 0;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: rgb(117, 42, 192);
  z-index: 10;
}

.sidebarMenuInner{
    list-style: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    transition: 0.7s;
    font-size: 14px;
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner a:hover {
   background-color: rgba(255, 255, 255, 0.404);
}

.sidebarMenuInner a i{
   margin-right: 20px;
   margin-left: 25px;
}

.bloc_sidebar {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    padding-left: 16px;
    z-index: 5;
}

#sous_bloc_sidebar {
    display: block;
    margin-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.drop_click {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 0px;
    z-index: 5;
}

.capteurs_dropdown {
    padding: 0px 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin-top: 2px;
}

.sign_out {
    z-index: 5;
    padding: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    color:white;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}

.logo_sidebar {
    z-index: 5;
    width: 70%;
    text-align:center;
    margin:auto;
    display:flex;
    padding: 10px 10px 3px 10px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 55px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    float: left;
    margin-top: 3px;
}

@media screen and (min-width: 2000px){ 
    #sidebarMenu {
        min-height: 130%;
        position: absolute;
        left: 0;
        width: 350px;
        margin-top: 0px;
        margin-left: 0;
        transform: translateX(-350px);
        transition: transform 250ms ease-in-out;
        background: rgb(117, 42, 192);
        z-index: 10;
    }

    .logo_sidebar {
      z-index: 5;
      width: 70%;
      text-align:center;
      margin:auto;
      display:flex;
      padding: 10px 10px 3px 10px;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 55px;
    }

    .sidebarMenuInner{
        list-style: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        transition: 0.7s;
        font-size: 20px;
        margin:0;
        padding:0;
        border-top: 1px solid rgba(255, 255, 255, 0.10);
    }

    .sidebarMenuInner span{
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.50);
    }

    .sidebarMenuInner a{
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }

    .sidebarMenuInner a:hover {
    background-color: rgba(255, 255, 255, 0.404);
    }

    .sidebarMenuInner a i{
    margin-right: 20px;
    margin-left: 25px;
    }

    .bloc_sidebar {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        text-decoration: none;
        padding-left: 16px;
        z-index: 5;
    }

    #sous_bloc_sidebar {
        display: block;
        margin-left: 20px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .drop_click {
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.4s;
        display: block;
        padding: 24px;
    }

    .capteurs_dropdown {
        padding: 0px 24px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        margin-top: 2px;
    }

    .sign_out {
        z-index: 5;
        padding: 12px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/* 
.temperature{
    position: absolute;
    margin-top: 4%;
    margin-left: 20%;
}

.co2{
    position: absolute;
    margin-top: 4%;
    margin-left: 60%; 
}

.cardiaque{
    position: absolute;
    margin-top: 32%;
    margin-left: 20%;
}

.particules{
    position: absolute;
    margin-top: 32%;
    margin-left: 60%;
}

#imageset{
    border-radius:10px;
}

#titre{
    background-color: #411F5F;
    color: #E3D7EE;
    text-align: center;
    border-radius: 6px;
}

.text{
    font-size:20px;
    justify-content: center;
}

.temperature .hover {
 position: absolute;
 top: 75px;
 left:45px;
 height: 80%;
 width: 80%;
 opacity: 0;
 border-radius: 5px;
 transition: .5s ease;
 background-color: #B09CC3;
}

.temperature:hover .hover {
 opacity: 10;
}

.co2 .hover {
 position: absolute;
 top: 75px;
 left:45px;
 height: 80%;
 width: 80%;
 opacity: 0;
 border-radius: 5px;
 transition: .5s ease;
 background-color: #B09CC3;
}

.co2:hover .hover {
 opacity: 10;
}

.cardiaque .hover {
 position: absolute;
 top: 75px;
 left:45px;
 height: 80%;
 width: 80%;
 opacity: 0;
 border-radius: 5px;
 transition: .5s ease;
 background-color: #B09CC3;
}

.cardiaque:hover .hover {
 opacity: 10;
}

.particules .hover {
 position: absolute;
 top: 75px;
 left:45px;
 height: 80%;
 width: 80%;
 opacity: 0;
 border-radius: 5px;
 transition: .5s ease;
 background-color: #B09CC3;
}

.particules:hover .hover {
 opacity: 10;
}

.infoset{
    
} */











.vbox-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    /*Align children vetically*/
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    margin-block-end: 5%;
    margin-right: 3%;
    margin-left: 3%;
}

/*Stretch item along parent's main-axis*/
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-default-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titre{
    display: flex;
    z-index: 3;
    position: relative;
    justify-content: center;
}

.save-button {
    color:white;
    font-size: 15px;
    background-color: #8B00FF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
    border-radius: 40px;
    padding: 4px 14px;
    text-decoration: none;
    border-color: none;
    outline-style: none;
    border-style: none;
    display: flex;
    z-index: 3;
    position: relative;
    margin-top: -3%;
    justify-content: center;
}

.save-button:hover {
    background-color: #061efa;
    cursor: pointer;
}

.save-button:active {
    box-shadow: none;
    top: 1px;
}

.picto {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    justify-content: center;
    position: relative;
    margin-top: 25%;
}

.screen {
	height: 125%;
	width: 450px;
	box-shadow: 0px 0px 24px #5C5696;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: white;
}

.cg_et_save {
    display: flex;
    z-index: 3;
    position: relative;
    justify-content: center;
    margin-top: 0%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.sous-titre{
    display: flex;
    z-index: 3;
    position: relative;
    justify-content: center;
    text-decoration-line  : underline ;
}

.rangement {
	height: 125%;
	width: 950px;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin-top: 5%;
}

.graphPlacement {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 9%;
}

.screen-titre {
    height: 25%;
	width: 950px;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 0px 24px #5C5696;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4%;
}

.resume {
    font-size: 13px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 900px){
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .screen-titre {
        height: 25%;
        width: 450px;
        border-radius: 25px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background-color: white;
        box-shadow: 0px 0px 24px #5c5696;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 4%;
    }
    
}

/* .vbox-container p {
    border: solid 2px black;
    border-radius: 20px;
    margin-bottom: 5%;
} */