.sidebar_header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #d146fc00;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}

#sidebarMenu {
    height: 135%;
    position: absolute;
    left: 0;
    width: 250px;
    margin-top: 0;
    margin-left: 0;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: rgb(117, 42, 192);
    z-index: 10;
}

.sidebarMenuInner{
    list-style: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    transition: 0.7s;
    font-size: 14px;
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner a:hover {
   background-color: rgba(255, 255, 255, 0.404);
}

.sidebarMenuInner a i{
   margin-right: 20px;
   margin-left: 25px;
}

.bloc_sidebar {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    padding-left: 16px;
    z-index: 5;
}

#sous_bloc_sidebar {
    display: block;
    margin-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.drop_click {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 0px;
    z-index: 5;
}

.capteurs_dropdown {
    padding: 0px 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin-top: 2px;
}

.sign_out {
    z-index: 5;
    padding: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    color:white;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}

.logo_sidebar {
    z-index: 5;
    width: 70%;
    text-align:center;
    margin:auto;
    display:flex;
    padding: 10px 10px 3px 10px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 55px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    float: left;
    margin-top: 3px;
}

@media screen and (min-width: 2000px){ 
    #sidebarMenu {
        height: 135%;
        position: fixed;
        left: 0;
        width: 350px;
        margin-top: 60px;
        margin-left: 0;
        transform: translateX(-350px);
        transition: transform 250ms ease-in-out;
        background: linear-gradient(180deg, #d146fc 0%, #8B00FF 80%);
        z-index: 10;
    }

    .sidebarMenuInner{
        list-style: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        transition: 0.7s;
        font-size: 20px;
        margin:0;
        padding:0;
        border-top: 1px solid rgba(255, 255, 255, 0.10);
    }

    .sidebarMenuInner span{
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.50);
    }

    .sidebarMenuInner a{
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }

    .sidebarMenuInner a:hover {
    background-color: rgba(255, 255, 255, 0.404);
    }

    .sidebarMenuInner a i{
    margin-right: 20px;
    margin-left: 25px;
    }

    .bloc_sidebar {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        text-decoration: none;
        padding-left: 16px;
        z-index: 5;
    }

    #sous_bloc_sidebar {
        display: block;
        margin-left: 20px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .drop_click {
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.4s;
        display: block;
        padding: 24px;
    }

    .capteurs_dropdown {
        padding: 0px 24px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        margin-top: 2px;
    }

    .sign_out {
        z-index: 5;
        padding: 12px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}